body{
  background-image: 6ef62b28c7e65f900ae813a377d99f51.png;
}
h1{
  font-variant: small-caps; font-family: Courier, monospace;
}
h3{
  font-variant: small-caps; font-family: Courier, monospace;
}
