body{
  background-image: url(https://66.media.tumblr.com/331b4255cf005436b7b2e8b2532974c3/tumblr_ogo67kkkOV1qfyhwoo1_400.png);
}
h1{
  font-variant: small-caps; font-family: Courier, monospace;
}
h3{
  font-variant: small-caps; font-family: Courier, monospace;
}
