body{
/*   font-family: Courier, monospace; */
}
h1{
  font-variant: small-caps; font-family: Courier, monospace;
}
h3{
  font-variant: small-caps; font-family: Courier, monospace;
}
th{
  font-size: 100px;
}
